@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hotpink;
    font-family:Roboto, sans-serif;
    font-size: 1.15rem;
}
img {
    width : 200px;
    height :200px;
    margin: 1rem;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    background: linear-gradient(rgba(8, 238, 115, 0.759),rgb(4, 20, 67));
}
nav{
    border-bottom: 1px solid black;
    padding: 16px;
    /* place-content: center;
    display: grid; */
    text-align: center;
    background-color: rgba(233, 150, 122, 0.782);
}
footer{
    padding: 24px;
    margin-top: auto;
    background-color: rgba(255, 255, 0, 0.728);
    height: 0.5rem;
    text-align: center;
    /* color: whitesmoke; */
}
footer div{ 
     /* display: grid;
    place-content: center; 
     text-align: center;  */
     color: whitesmoke; 
}
main {
    padding: 16px;
    margin: 20px;
    display: grid;
}
.title-for-table-or-steps{
    /* display: grid;
    place-content: center; */
    text-align: center;
}
table{ 
    /* display: grid;
    justify-content: center; */
    text-align: center;
    margin: 0px 25%;
    border: 1px solid red;
}

a{
    color: rgb(38, 15, 210);
    text-decoration: none;
}
a:hover{
    color: red;
}

tr:nth-child(2n){ 
    background-color: black;
}
/* #pic{
    display: grid;
    place-content: center;
}
#pic p{
    display: grid;
    place-content: center;
} */
#pic{
    text-align: center;
}

.mainpage{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50% 50%;
}
.mainpage p{
    text-align: center;
    transition: 1s;
}
.mainpage p:hover{
    font-size: 4rem;
    color: antiquewhite;
}
.mainpage h3{
    text-align: center;
}
.tacopic{
    text-align: center;
}
/* main h1{
    display: flex;
    place-content: center;
}
main h2{
    display: flex;
    place-content: center;
} */
main h1{
    text-align: center;
    font-size: 2.5rem;
}
main h2{
    text-align: center;
    font-size: 2rem;
}
ol{
    margin-inline: auto;
    padding: 0.5rem;
}
